.img-modal {
  width: 100%;
}

.thumb-seemore {
  margin: 1.25em 0;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.rt-header-container {
  background-color: #222;
  padding: 1.25em;
}

.rt-title {
  font-weight: normal;
}

.rt-event .rt-svg-container .rt-arrow {
  color: #222;
}

.rt-event .rt-dot {
  color: #222;
}

.rt-label {
  background-color: #222;
}

.clearfix {
  margin: 40px 0;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  border-radius: 0 !important;
}

.navbar .brand {
    display: block;
}

.post {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.post .content h1 {
  font-size: 1.6em;
}

.post .content h2 {
  font-size: 1.4em;
}

.post .content h3 {
  font-size: 1.2em;
}

.post .content h4 {
  font-size: 1em;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-justify {
  text-align: justify;
}

.text-justify {
  text-align: center;
}

.rt-text-container {
  font-weight: normal;
}